*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.item{
    width: 250px;
    height: 300px;
    border-left: white solid 1px;
}

h3{
    font-size: 15px;
}

p{
    font-family: 'Satisfy', cursive;
    font-size: 10px;
    color: green
}