h1{
    font-family: 'Satisfy', cursive;
    color: green;
    font-size: 3em;
}

h3{
    font-family: 'Satisfy', cursive;
    color: green;
    font-size: 1.5em;
}

p{
    font-family: 'Satisfy', cursive;
    color: green;
    font-size: 1.5em;
}

img{
    width: 100px;
    height: auto;
    border-radius: 25px;
}

.loguito{
   display: block;
   margin: auto;
   width: 200px;
   height: auto;
}